<h2 class="heading-2"><%= t('.my_tasks') %></h2>

<%= link_to t('.new_task'), new_event_task_path, data: { turbo: false }, class: 'link_primary' %>
<div>
  <% if @event_tasks.any? %>
    <div class="card_container">
      <%= render @event_tasks %>
    </div>
  <% else %>
    <div>
      <p class="mt-10 font-bold"><%= t('.no_tasks')%></p>
    </div>
  <% end %>
</div>
