<nav class="navbar">
  <div class="flex gap-5 content-center">
    <%= link_to 'Home', root_path, class: 'nav-link-primary' %>
    <% unless user_signed_in? %>
      <%= link_to 'Criar conta', new_user_registration_path, data:{turbo: false}, class: 'nav-link-primary' %>
      <%= link_to 'Login', new_user_session_path, data:{turbo: false}, class: 'nav-link-primary' %>
    <% else %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, data:{turbo: false}, class: 'nav-link-primary' %>
    <% end %>
  </div>
</nav>