<div> 
  <h1><%= t('.my_events') %></h1>
  <% if @events.any? %>
    <ul class="flex flex-wrap gap-6">
      <% @events.each do |event| %>
        <%= link_to event_path(event.code) do %>
          <%= event_card(event) %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('.no_events') %></p>
  <% end %>
</div>
