<div>
  <h1 class="heading-2"><%= t('.my_events') %></h1>
  <% if @events.any? %>
    <ul class="flex flex-wrap gap-6">
      <% @events.each do |event| %>
        <%= link_to_if event.status == 'published', published(event), event_path(event.code) do %>
          <%= unpublished(event) %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('.no_events') %></p>
  <% end %>
</div>
