<div> 
      <h1 class="mb-4 text-4xl font-semibold text-gray-900 md:text-5xl lg:text-6xl "> Lista de Eventos </h1>
      <% if @events.any? %>
        <ul class="flex flex-wrap gap-6">
          <% @events.each do |event| %>
          <li class="border border-gray-200 w-96 p-6 rounded-lg shadow flex-column items-center">
            <%= image_tag "default_image.jpeg", class: "w-96 h-48 w-full object-cover rounded-lg mr-6" %>
           <h2 class="text-2xl font-bold text-indigo-700 hover:text-indigo-900 mb-2"><%= link_to event.name, event_path(event.id) %></h2>
           <p class="text-gray-700 text-lg mb-2"><%= event.description %></p>
           <p> Data início: <%= formatted_date(event.start_date) %> </p>
          </li>
          <% end %>
        </ul>
      <% else %>
        <p>Não existe nenhum evento ao qual você faça parte. Se você acha que isso é um erro, entre em contato com algum organizador.</p>
      <% end %>
</div>
