<h2 class="heading-2">Meus Conteúdos</h2>

<%= link_to 'Cadastrar Conteúdo', new_event_content_path, data: { turbo: false }, class: 'link_primary' %>

<% if @event_contents.any? %>
    <div class="card_container">
        <%= render @event_contents %>
    </div>
<% else %>
    <div>
        <p class="mt-10 font-bold"><%= t('.no_content')%></p>
    </div>
<% end %>
