<h2> <%= t('.my_contents') %> </h2>

<%= link_to t('.new_content'), new_event_content_path, data: { turbo: false }, class: 'link_primary' %>

<% if @event_contents.any? %>
    <div class="card_container">
        <%= render @event_contents %>
    </div>
<% else %>
    <div>
        <p class="mt-10 font-bold"><%= t('.no_content') %></p>
    </div>
<% end %>
