<div class='border rounded p-3'>
  <h1 class='heading-1'> <%= @schedule_item.title %> </h1>
  <span> Número estimado de participantes: <%= @schedule_item.length %> </span>
  <h2 class='heading-2'> Descrição </h2>
  <p> <%= @schedule_item.description %> </p>
</div>
